h1, h2, h3, h4, h5, h6, .tagline {
	font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", verdana, sans-serif;
	font-weight: 700;
}

h1, h2, .title {
	text-transform: uppercase;
	margin-top: 0px;
	text-align: center;
	@include breakpoint(adult) {
		text-align: left;
	}
}


h1 {
	font-size: 1.9em;
	line-height: 1em;
	margin: 0.2em 0 0;
	@include breakpoint(big-baby-sleep) { 
	font-size: 1.5em; 
	}
	@include breakpoint(teen-up) { 
	font-size: 1.9em; 
	}

}


h2 {
	font-size:1.2em; 
	margin-bottom: .2em;
	}



h3 {
	font-size: 1.17em;
	margin: 0 0 .3em;
	text-transform: uppercase;
}



h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}