.header-main-wrapper {
   text-align: center; 

 }

.header-main {
 display: inline-block;
 width: auto;
 padding-bottom: 20px;


}

.body-logo {
	text-align: center;
	@include breakpoint(teen-up) {
   	display: none;
   }
  }