/* Global */

body {
	max-width: 1020px;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	margin: 0 auto;
	@include breakpoint(teen-up){
		background-color:$color6;
	}
}
img {
	max-width: 100%;
}
a:link, a:visited  {
	color: $color8;
	text-decoration: none;
}
a:hover {
	color: $color10;
	text-decoration: none;
}






/* General Slides */ 





/* Slide 1 */ 






/* Slide 2 */ 
















/* Tablet */
@include breakpoint (teen) {

.header-main-wrapper {
	width: 100%;
	text-align: center;
}

#nav {
	
}

.navigation{
	

}

.navigation li{

}



#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}


#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@include breakpoint(baby){

.header-main-wrapper {
	width: 100%;
	text-align: center;
}



.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:0;
	margin-bottom: 10px;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;


}

#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




