.slide{
	
	width:100%;
	height:auto;
	margin-bottom: 1em;
}


.bgslide{
	color:$color1!important;
	min-height: 300px;
	padding-top: 5%;
	text-shadow: 2px 1px 6px white, 0px 0px 20px white;
 	@include breakpoint(adult) {
		min-height: 500px;
	}
}

.bgslide h2 {
	line-height: 1em;
	font-size: 2em;
	color: black;
	text-align: left;
	margin-bottom: 0;
	}

#slide2 {
	background: url(../img/glassesheart-708.jpg) center center no-repeat;
		@include breakpoint(teen-up) {
		background: url(../img/glassesheart-1020.jpg) center center no-repeat; 
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		} 
}

#slide3 {
	background: url(../img/hockey-708.jpg) center center no-repeat;
	@include breakpoint(teen-up) {
		background: url(../img/hockey-1020.jpg) center center no-repeat;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; 
		} 
}

#slide3 h2 {
	padding-top: 35%; 
}

#slide1{
	background-color:#ffffff;
	padding-bottom: 0;
	padding-top: 40px;
	@include breakpoint(teen-up) {
		padding-top: 120px;
	}
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}








#slide4{
	background:url('../img/glassesheart.jpg') no-repeat;
	background-color:#8a8683;
	color:#ffffff;
	@include breakpoint(adult) {
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 	}
}


