.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}


#slide1{
	background-color:#ffffff;
	padding-bottom: 0;
	padding-top: 40px;
	@include breakpoint(teen-up) {
		padding-top: 120px;
	}
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}



#slide2{
	background: url(../img/glassesheart-708.jpg) no-repeat ; 
	color:$color1!important;
	padding-top: 0px;
	text-shadow: 1px 1px 10px white;
	@include breakpoint(teen-up) {
		background: url(../img/glassesheart-1020.jpg) center center no-repeat; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 250px;
  	
 	}
}



 



	#slide2 h1 {
		text-align: left;
		line-height: 1em;
		font-size: 3em;
		margin: 0;
		padding: 0;
		margin-top: 5%;
	}
	
.parallax #slide2 h1 {
	margin-top: 30%;
}


	#slide2 h2 {
		line-height: 1em;
		font-size: 2em;
		color: black;
		text-align: left;
		margin-bottom: 0;

	}




#slide4{
	background:url('../img/glassesheart.jpg') no-repeat;
	background-color:#8a8683;
	color:#ffffff;
	@include breakpoint(adult) {
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
 	}
}


